<% provide(:title, 'Re-Splain') %>
<% provide(:button_text, 'Save changes') %>
<h1>Resplain Yourself</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/splain_form' %>
  </div>
</div>
